@charset "utf-8";
body{
    font-size: 13px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 1px;
}

select {
    height: 24px;
}

.radio{
    font-size: 11px;
    margin-bottom: 4px;
}

.nav{
    margin-bottom: 5px;
}

form{
    margin: 0 0 5px;
}

.page{
    text-align: right;margin-right:25px;margin-top:5px;
}

.page a{
    margin-left: 5px;
}

.page .current{
    margin-left: 5px;
    color: red;
}

/*树形结构*/
.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}

.table {
	width: 100%;
	margin-bottom: 9px;
	border-collapse: separate;
	border-spacing: 0;
}

.table th,.table td {
	padding: 9px;
	line-height: 26px;
	text-align: left;
	vertical-align: middle;
}

.table th {
	font-weight: bold;
}

.table thead tr {
	vertical-align: bottom;
}

.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td
{
	border-top: 0;
}

.table tbody+tbody {
	border-top: 2px solid #ddd;
}

.table-head-bordered thead tr {
	vertical-align: bottom;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, #fff, #f4f4f4);
	background-image: -ms-linear-gradient(top, #fff, #f4f4f4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#f4f4f4) );
	background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
	background-image: -o-linear-gradient(top, #fff, #f4f4f4);
	background-image: linear-gradient(top, #fff, #f4f4f4);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#f4f4f4', GradientType = 0 );
}

.table-head-bordered colgroup+thead tr:first-child th,.table-head-bordered colgroup+thead tr:first-child td,.table-head-bordered thead:first-child tr:first-child th,.table-head-bordered thead:first-child tr:first-child td
	{
	border-top: 1px solid #ddd;
}

.table-head-bordered thead:first-child tr th:first-child,.table-head-bordered thead tr td:first-child
	{
	border-left: 1px solid #ddd;
}

.table-head-bordered thead tr:first-child th:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.table-head-bordered thead tr:last-child th:first-child {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.table-head-bordered thead tr th:last-child,.table-head-bordered thead tr td:last-child
	{
	border-right: 1px solid #ddd;
}

.table-head-bordered thead tr:first-child th:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.table-head-bordered thead tr:last-child th:last-child {
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.table-head-bordered thead tr:last-child th {
	border-bottom: 1px solid #ddd;
}

.table-head-bordered tbody tr:first-child td {
	border-top: 0;
}

.table-condensed th,.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 0px solid #ddd;
	border-left: 0;
	border-collapse: separate;
	*border-collapse: collapsed;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.table-bordered thead tr {
	background-color: #f4f4f4;
	background-image: -moz-linear-gradient(top, #f8f8f8, #eee);
	background-image: -ms-linear-gradient(top, #f8f8f8, #eee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8),
		to(#eee) );
	background-image: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background-image: -o-linear-gradient(top, #f8f8f8, #eee);
	background-image: linear-gradient(top, #f8f8f8, #eee);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f8f8f8', endColorstr = '#eeeeee', GradientType = 0 );
}

.table-bordered thead tr th:last-child,.table-bordered thead tr td:last-child
	{
	border-right: none;
}

.table-bordered th,.table-bordered td {
	border-left: 0px solid #ddd;
}

.table-bordered thead th,.table-bordered thead td {
	padding-top: 0;
	padding-bottom: 0;
	height: 30px;
}

.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td
	{
	border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child
{
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;
}

.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child
{
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}

.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child
	{
	-webkit-border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px;
}

.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child
	{
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0;
}

.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th
{
	background-color: #f2f2f2;
}

.table-bordered.table-striped tbody tr:nth-child(odd) td,.table-bordered.table-striped tbody tr:nth-child(odd) th
	{
	background-color: #fff;
}

.table-bordered.table-striped tbody tr:nth-child(even) td,.table-bordered.table-striped tbody tr:nth-child(even) th
	{
	background-color: #f2f2f2;
}

.table tbody tr:hover td,.table tbody tr:hover th {
	background-color: #f0f0f0;
}

.table td input[type="checkbox"]{
    padding: 0;
    margin: 0;
    margin-right: 8px;
}

.table th input[type="checkbox"]{
    padding: 0;
    margin: 0;
    margin-right: 8px;
}

.table td, .table th{
    padding-top: 6px;
    padding-bottom: 6px;
}
.table th{
	background-color:#eaeaea;
}

.definewidth{
	margin:auto;
	width:100%;	
}

.m10{
	margin-top:10px;
}
.m20{
	padding-top:20px;
}

.tableleft{
	text-align:right;
	padding-left:5px;
	background-color:#f5f5f5;
	font-weight:bold;
	width: 220px;
}

.table .notdata{
   text-align:center;
   font-size:15px;
   font-weight:bold;
   color: #999999;
}

.definewidth .first{
   font-size:15px;
   font-weight:bold;
}

.content{
	padding: 9px;
	margin:0 auto;
	width: 96%;
}

.content .panel-button{
	position:absolute;
}

.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../img/icon1.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

.imgShowPanel:hover,
.imgShowPanel:focus,
.imgShowPanel:active,
.imgShowPanel.active,
.imgShowPanel.disabled,
.imgShowPanel[disabled] {
  cursor:pointer;
}

.searchTool{float:left;width:15%; }
.searchTool .txtSearch{float:left;width:232px;padding:2px 2px 0 2px;height:25px;line-height:25px;vertical-align:bottom;border-bottom:1px solid #fff;
color:#fff;border-left:0; border-right:0;  border-top:0;background:none;  }
.searchTool .btnSearch{float:left;margin-left:10px;width:30px;height:30px;line-height:22px;border:none;overflow:hidden;}
.searchTool .btnSearch a{background:url(../img/search.png) repeat-x center ;display:block;text-decoration:none;height:30px;line-height:30px;overflow:hidden;}
.searchTool .btnSearch a:hover{background:url(../img/search1.png) repeat-x center center;border:1px solid #fff;height:30px;line-height:20px; border:none;}
.searchTool .btnSearch .lbl{cursor:pointer;display:block;width:30px;height:30px;padding-top:1px;}
.searchTool .btnSearch a:hover .lbl{padding-top:0px;}
