<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BettingHab" >
  <resultMap id="BaseResultMap" type="com.maven.entity.BettingHab" >
    <id column="friendlygameinstanceid" property="friendlygameinstanceid" jdbcType="VARCHAR" />
    <result column="playerid" property="playerid" jdbcType="VARCHAR" />
    <result column="brandid" property="brandid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="brandgameid" property="brandgameid" jdbcType="VARCHAR" />
    <result column="gamekeyname" property="gamekeyname" jdbcType="VARCHAR" />
    <result column="gametypeid" property="gametypeid" jdbcType="VARCHAR" />
    <result column="dtstarted" property="dtstarted" jdbcType="TIMESTAMP" />
    <result column="dtcompleted" property="dtcompleted" jdbcType="TIMESTAMP" />
    <result column="gameinstanceid" property="gameinstanceid" jdbcType="VARCHAR" />
    <result column="stake" property="stake" jdbcType="DOUBLE" />
    <result column="payout" property="payout" jdbcType="DOUBLE" />
    <result column="jackpotwin" property="jackpotwin" jdbcType="DOUBLE" />
    <result column="jackpotcontribution" property="jackpotcontribution" jdbcType="DOUBLE" />
    <result column="currencycode" property="currencycode" jdbcType="VARCHAR" />
    <result column="channeltypeid" property="channeltypeid" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="bettime" property="bettime" jdbcType="TIMESTAMP" />
    <result column="betmoney" property="betmoney" jdbcType="DOUBLE" />
    <result column="netmoney" property="netmoney" jdbcType="DOUBLE" />
    <result column="enterprisecode" property="enterprisecode" jdbcType="CHAR" />
    <result column="brandcode" property="brandcode" jdbcType="VARCHAR" />
    <result column="employeecode" property="employeecode" jdbcType="CHAR" />
    <result column="parentemployeecode" property="parentemployeecode" jdbcType="CHAR" />
    <result column="loginaccount" property="loginaccount" jdbcType="VARCHAR" />
    <result column="gamebigtype" property="gamebigtype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
  <!-- 范围查询 -->
  <sql id="rangecondition">
  	<where>
  	  <if test="teamCodes !=null and teamCodes.length > 0">
  	  	and (parentemployeecode in 
  	  	<foreach collection="teamCodes" item="teamcode" separator="," open="(" close=")">
			#{teamcode}
		</foreach>
		<if test="teamLeaderCode != null" > or employeecode = #{teamLeaderCode} </if>)
	  </if>
	  <if test="enterprisecode != null" >and enterprisecode = #{enterprisecode} </if>
	  <if test="brandcode != null" >and brandcode = #{brandcode} </if>
	  <if test="employeecode != null" >and employeecode = #{employeecode} </if>
	  <if test="parentemployeecode != null" >and parentemployeecode = #{parentemployeecode} </if>
	  <if test="loginaccount != null" >and loginaccount = #{loginaccount} </if>
  	  <if test="createtime !=null">and createtime = #{createtime}</if>
	  <if test="startDate !=null">and bettime <![CDATA[ >= ]]>#{startDate}</if>
	  <if test="endDate !=null"> and bettime <![CDATA[ <= ]]> #{endDate}</if>
	  
	  <if test="gamekeyname != null" >and gamekeyname = #{gamekeyname} </if>
	  
	  <!-- 前端查询使用 -->
      <if test="StartDate != null" >and bettime <![CDATA[ >= ]]> #{StartDate} </if>
      <if test="EndDate != null" >and bettime <![CDATA[ <= ]]> #{EndDate} </if>
      
      
  	</where>
  </sql>
  
  <!-- =================================================新增语句================================================================ -->
<!-- =================================================精确查询================================================================ -->
<!-- =================================================模糊查询================================================================ -->
<select id="selectAll" resultMap="BaseResultMap" parameterType="Map" >
    select <include refid="Base_Column_List" /> from betting_hab
    <include refid="rangecondition" /> 
    <include refid="ABasic.orderby" /> 
    <include refid="ABasic.page" />
  </select>
  <select id="selectAllCount" resultType="Long" parameterType="Map" >
    select count(1) from betting_hab <include refid="rangecondition" />
  </select>
  
<!-- 数据统计之金额 -->  
    <select id="takeRecordCountMoney" parameterType="Map" resultType="Map">
    select count(1) count, 
    sum(betmoney) betmoney,
    sum(netmoney) netmoney
    
    from betting_hab
    <include refid="rangecondition"></include>
  </select>
  
  
  <sql id="Base_Column_List" >
    friendlygameinstanceid, playerid, brandid, username, brandgameid, gamekeyname, gametypeid, 
    dtstarted, dtcompleted, gameinstanceid, stake, payout, jackpotwin, jackpotcontribution, 
    currencycode, channeltypeid, createtime, bettime, betmoney, netmoney, enterprisecode, 
    brandcode, employeecode, parentemployeecode, loginaccount, gamebigtype, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from betting_hab
    where friendlygameinstanceid = #{friendlygameinstanceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from betting_hab
    where friendlygameinstanceid = #{friendlygameinstanceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maven.entity.BettingHab" >
    insert into betting_hab (friendlygameinstanceid, playerid, 
      brandid, username, brandgameid, 
      gamekeyname, gametypeid, dtstarted, 
      dtcompleted, gameinstanceid, stake, 
      payout, jackpotwin, jackpotcontribution, 
      currencycode, channeltypeid, createtime, 
      bettime, betmoney, netmoney, 
      enterprisecode, brandcode, employeecode, 
      parentemployeecode, loginaccount, gamebigtype, 
      status)
    values (#{friendlygameinstanceid,jdbcType=VARCHAR}, #{playerid,jdbcType=VARCHAR}, 
      #{brandid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{brandgameid,jdbcType=VARCHAR}, 
      #{gamekeyname,jdbcType=VARCHAR}, #{gametypeid,jdbcType=VARCHAR}, #{dtstarted,jdbcType=TIMESTAMP}, 
      #{dtcompleted,jdbcType=TIMESTAMP}, #{gameinstanceid,jdbcType=VARCHAR}, #{stake,jdbcType=DOUBLE}, 
      #{payout,jdbcType=DOUBLE}, #{jackpotwin,jdbcType=DOUBLE}, #{jackpotcontribution,jdbcType=DOUBLE}, 
      #{currencycode,jdbcType=VARCHAR}, #{channeltypeid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{bettime,jdbcType=TIMESTAMP}, #{betmoney,jdbcType=DOUBLE}, #{netmoney,jdbcType=DOUBLE}, 
      #{enterprisecode,jdbcType=CHAR}, #{brandcode,jdbcType=VARCHAR}, #{employeecode,jdbcType=CHAR}, 
      #{parentemployeecode,jdbcType=CHAR}, #{loginaccount,jdbcType=VARCHAR}, #{gamebigtype,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.maven.entity.BettingHab" >
    insert into betting_hab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="friendlygameinstanceid != null" >
        friendlygameinstanceid,
      </if>
      <if test="playerid != null" >
        playerid,
      </if>
      <if test="brandid != null" >
        brandid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="brandgameid != null" >
        brandgameid,
      </if>
      <if test="gamekeyname != null" >
        gamekeyname,
      </if>
      <if test="gametypeid != null" >
        gametypeid,
      </if>
      <if test="dtstarted != null" >
        dtstarted,
      </if>
      <if test="dtcompleted != null" >
        dtcompleted,
      </if>
      <if test="gameinstanceid != null" >
        gameinstanceid,
      </if>
      <if test="stake != null" >
        stake,
      </if>
      <if test="payout != null" >
        payout,
      </if>
      <if test="jackpotwin != null" >
        jackpotwin,
      </if>
      <if test="jackpotcontribution != null" >
        jackpotcontribution,
      </if>
      <if test="currencycode != null" >
        currencycode,
      </if>
      <if test="channeltypeid != null" >
        channeltypeid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="bettime != null" >
        bettime,
      </if>
      <if test="betmoney != null" >
        betmoney,
      </if>
      <if test="netmoney != null" >
        netmoney,
      </if>
      <if test="enterprisecode != null" >
        enterprisecode,
      </if>
      <if test="brandcode != null" >
        brandcode,
      </if>
      <if test="employeecode != null" >
        employeecode,
      </if>
      <if test="parentemployeecode != null" >
        parentemployeecode,
      </if>
      <if test="loginaccount != null" >
        loginaccount,
      </if>
      <if test="gamebigtype != null" >
        gamebigtype,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="friendlygameinstanceid != null" >
        #{friendlygameinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="playerid != null" >
        #{playerid,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null" >
        #{brandid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="brandgameid != null" >
        #{brandgameid,jdbcType=VARCHAR},
      </if>
      <if test="gamekeyname != null" >
        #{gamekeyname,jdbcType=VARCHAR},
      </if>
      <if test="gametypeid != null" >
        #{gametypeid,jdbcType=VARCHAR},
      </if>
      <if test="dtstarted != null" >
        #{dtstarted,jdbcType=TIMESTAMP},
      </if>
      <if test="dtcompleted != null" >
        #{dtcompleted,jdbcType=TIMESTAMP},
      </if>
      <if test="gameinstanceid != null" >
        #{gameinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="stake != null" >
        #{stake,jdbcType=DOUBLE},
      </if>
      <if test="payout != null" >
        #{payout,jdbcType=DOUBLE},
      </if>
      <if test="jackpotwin != null" >
        #{jackpotwin,jdbcType=DOUBLE},
      </if>
      <if test="jackpotcontribution != null" >
        #{jackpotcontribution,jdbcType=DOUBLE},
      </if>
      <if test="currencycode != null" >
        #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="channeltypeid != null" >
        #{channeltypeid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bettime != null" >
        #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betmoney != null" >
        #{betmoney,jdbcType=DOUBLE},
      </if>
      <if test="netmoney != null" >
        #{netmoney,jdbcType=DOUBLE},
      </if>
      <if test="enterprisecode != null" >
        #{enterprisecode,jdbcType=CHAR},
      </if>
      <if test="brandcode != null" >
        #{brandcode,jdbcType=VARCHAR},
      </if>
      <if test="employeecode != null" >
        #{employeecode,jdbcType=CHAR},
      </if>
      <if test="parentemployeecode != null" >
        #{parentemployeecode,jdbcType=CHAR},
      </if>
      <if test="loginaccount != null" >
        #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="gamebigtype != null" >
        #{gamebigtype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maven.entity.BettingHab" >
    update betting_hab
    <set >
      <if test="playerid != null" >
        playerid = #{playerid,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null" >
        brandid = #{brandid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="brandgameid != null" >
        brandgameid = #{brandgameid,jdbcType=VARCHAR},
      </if>
      <if test="gamekeyname != null" >
        gamekeyname = #{gamekeyname,jdbcType=VARCHAR},
      </if>
      <if test="gametypeid != null" >
        gametypeid = #{gametypeid,jdbcType=VARCHAR},
      </if>
      <if test="dtstarted != null" >
        dtstarted = #{dtstarted,jdbcType=TIMESTAMP},
      </if>
      <if test="dtcompleted != null" >
        dtcompleted = #{dtcompleted,jdbcType=TIMESTAMP},
      </if>
      <if test="gameinstanceid != null" >
        gameinstanceid = #{gameinstanceid,jdbcType=VARCHAR},
      </if>
      <if test="stake != null" >
        stake = #{stake,jdbcType=DOUBLE},
      </if>
      <if test="payout != null" >
        payout = #{payout,jdbcType=DOUBLE},
      </if>
      <if test="jackpotwin != null" >
        jackpotwin = #{jackpotwin,jdbcType=DOUBLE},
      </if>
      <if test="jackpotcontribution != null" >
        jackpotcontribution = #{jackpotcontribution,jdbcType=DOUBLE},
      </if>
      <if test="currencycode != null" >
        currencycode = #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="channeltypeid != null" >
        channeltypeid = #{channeltypeid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bettime != null" >
        bettime = #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betmoney != null" >
        betmoney = #{betmoney,jdbcType=DOUBLE},
      </if>
      <if test="netmoney != null" >
        netmoney = #{netmoney,jdbcType=DOUBLE},
      </if>
      <if test="enterprisecode != null" >
        enterprisecode = #{enterprisecode,jdbcType=CHAR},
      </if>
      <if test="brandcode != null" >
        brandcode = #{brandcode,jdbcType=VARCHAR},
      </if>
      <if test="employeecode != null" >
        employeecode = #{employeecode,jdbcType=CHAR},
      </if>
      <if test="parentemployeecode != null" >
        parentemployeecode = #{parentemployeecode,jdbcType=CHAR},
      </if>
      <if test="loginaccount != null" >
        loginaccount = #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="gamebigtype != null" >
        gamebigtype = #{gamebigtype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where friendlygameinstanceid = #{friendlygameinstanceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maven.entity.BettingHab" >
    update betting_hab
    set playerid = #{playerid,jdbcType=VARCHAR},
      brandid = #{brandid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      brandgameid = #{brandgameid,jdbcType=VARCHAR},
      gamekeyname = #{gamekeyname,jdbcType=VARCHAR},
      gametypeid = #{gametypeid,jdbcType=VARCHAR},
      dtstarted = #{dtstarted,jdbcType=TIMESTAMP},
      dtcompleted = #{dtcompleted,jdbcType=TIMESTAMP},
      gameinstanceid = #{gameinstanceid,jdbcType=VARCHAR},
      stake = #{stake,jdbcType=DOUBLE},
      payout = #{payout,jdbcType=DOUBLE},
      jackpotwin = #{jackpotwin,jdbcType=DOUBLE},
      jackpotcontribution = #{jackpotcontribution,jdbcType=DOUBLE},
      currencycode = #{currencycode,jdbcType=VARCHAR},
      channeltypeid = #{channeltypeid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      bettime = #{bettime,jdbcType=TIMESTAMP},
      betmoney = #{betmoney,jdbcType=DOUBLE},
      netmoney = #{netmoney,jdbcType=DOUBLE},
      enterprisecode = #{enterprisecode,jdbcType=CHAR},
      brandcode = #{brandcode,jdbcType=VARCHAR},
      employeecode = #{employeecode,jdbcType=CHAR},
      parentemployeecode = #{parentemployeecode,jdbcType=CHAR},
      loginaccount = #{loginaccount,jdbcType=VARCHAR},
      gamebigtype = #{gamebigtype,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where friendlygameinstanceid = #{friendlygameinstanceid,jdbcType=VARCHAR}
  </update>
</mapper>