<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BettingJdb">
	<resultMap type="com.maven.entity.BettingJdb" id="BaseResultMap">
		<id column="seqNo" property="seqNo" jdbcType="BIGINT"/>
		<result column="playerId" property="playerId" jdbcType="VARCHAR"/>
		<result column="mtype" property="mtype" jdbcType="INTEGER"/>
		<result column="gameDate" property="gameDate" jdbcType="CHAR"/>
		<result column="bet" property="bet" jdbcType="DOUBLE"/>
		<result column="gambleBet" property="gambleBet" jdbcType="DOUBLE"/>
		<result column="win" property="win" jdbcType="DOUBLE"/>
		<result column="total" property="total" jdbcType="DOUBLE"/>
		<result column="currency" property="currency" jdbcType="CHAR"/>
		<result column="denom" property="denom" jdbcType="DOUBLE"/>
		<result column="lastModifyTime" property="lastModifyTime" jdbcType="CHAR"/>
		<result column="playerIp" property="playerIp" jdbcType="CHAR"/>
		<result column="clientType" property="clientType" jdbcType="VARCHAR"/>
		<result column="gType" property="gType" jdbcType="INTEGER"/>
		<result column="hasGamble" property="hasGamble" jdbcType="INTEGER"/>
		<result column="hasBonusGame" property="hasBonusGame" jdbcType="INTEGER"/>
		<result column="hasFreegame" property="hasFreegame" jdbcType="INTEGER"/>
		<result column="roomType" property="roomType" jdbcType="INTEGER"/>
		<result column="systemTakeWin" property="systemTakeWin" jdbcType="INTEGER"/>
		<result column="jackpot" property="jackpot" jdbcType="DOUBLE"/>
		<result column="jackpotContribute" property="jackpotContribute" jdbcType="DOUBLE"/>
		<result column="beforeBalance" property="beforeBalance" jdbcType="DOUBLE"/>
		<result column="afterBalance" property="afterBalance" jdbcType="DOUBLE"/>
		<result column="enterprisecode" property="enterprisecode" jdbcType="CHAR"/>
		<result column="brandcode" property="brandcode" jdbcType="VARCHAR"/>
		<result column="employeecode" property="employeecode" jdbcType="CHAR"/>
		<result column="parentemployeecode" property="parentemployeecode" jdbcType="CHAR"/>
		<result column="loginaccount" property="loginaccount" jdbcType="VARCHAR"/>
		<result column="gamebigtype" property="gamebigtype" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
		
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
		<result column="bettime" property="bettime" jdbcType="TIMESTAMP"/>
		<result column="betmoney" property="betmoney" jdbcType="DOUBLE"/>
		<result column="netmoney" property="netmoney" jdbcType="DOUBLE"/>
	</resultMap>
	
	<sql id="Base_Column_List">
	seqNo, playerId, mtype, gameDate, bet, gambleBet, win, total, currency, denom, lastModifyTime, playerIp, clientType, gType, hasGamble, hasBonusGame, hasFreegame, roomType,
	systemTakeWin, jackpot, jackpotContribute, beforeBalance, afterBalance, enterprisecode, brandcode, employeecode, parentemployeecode, loginaccount, gamebigtype, status,
	createtime, bettime, betmoney, netmoney
	</sql>

	<sql id="rangecondition">
		<where>
	<if test="teamCodes !=null and teamCodes.length > 0">
		and (parentemployeecode in
		<foreach collection="teamCodes" item="teamcode" separator="," open="(" close=")">
			#{teamcode}
		</foreach>
		<if test="teamLeaderCode != null"> or employeecode =#{teamLeaderCode} </if>)
	</if>
	<if test="enterprisecode != null">and enterprisecode = #{enterprisecode} </if>
	<if test="brandcode != null">and brandcode = #{brandcode} </if>
	<if test="employeecode != null">and employeecode = #{employeecode}</if>
	<if test="parentemployeecode != null">and parentemployeecode = #{parentemployeecode} </if>
	<if test="loginaccount != null">and loginaccount = #{loginaccount}</if>
	<if test="startDate !=null">and bettime <![CDATA[ >= ]]>#{startDate}</if>
	<if test="endDate !=null">and bettime <![CDATA[ <=]]> #{endDate}</if>

	<if test="gType != null">and gType = #{gType}</if>
	<if test="seqNo != null">and seqNo = #{seqNo}</if>

	<!-- 前端查询使用 -->
	<if test="StartDate != null">and date(bettime) <![CDATA[ >= ]]> #{StartDate}</if>
	<if test="EndDate != null">and date(bettime) <![CDATA[ <= ]]> #{EndDate}</if>
		</where>
	</sql>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="Map">
		select <include refid="Base_Column_List"/> from betting_jdb
		<include refid="rangecondition"/>
		<include refid="ABasic.orderby"/>
		<include refid="ABasic.page"/>
	</select>

	<select id="selectAllCount" resultType="Long" parameterType="Map">
		select count(1) from betting_jdb <include refid="rangecondition" />
	</select>

	<select id="takeRecordCountMoney" parameterType="Map" resultType="Map">
		select count(1) count, 
		sum(betmoney) as betmoney, 
		sum(netmoney) as netmoney
		from betting_jdb
		<include refid="rangecondition" />
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List"/> from betting_jdb where seqNo = #{seqNo, jdbcType=BIGINT}
	</select>
</mapper>