<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BettingTgp" >
  <resultMap id="BaseResultMap" type="com.maven.entity.BettingTgp" >
    <id column="ugsbetid" property="ugsbetid" jdbcType="VARCHAR" />
    <result column="txid" property="txid" jdbcType="VARCHAR" />
    <result column="betid" property="betid" jdbcType="VARCHAR" />
    <result column="beton" property="beton" jdbcType="TIMESTAMP" />
    <result column="betclosedon" property="betclosedon" jdbcType="TIMESTAMP" />
    <result column="betupdatedon" property="betupdatedon" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    <result column="roundid" property="roundid" jdbcType="VARCHAR" />
    <result column="roundstatus" property="roundstatus" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="riskamt" property="riskamt" jdbcType="DOUBLE" />
    <result column="winamt" property="winamt" jdbcType="DOUBLE" />
    <result column="winloss" property="winloss" jdbcType="DOUBLE" />
    <result column="beforebal" property="beforebal" jdbcType="DOUBLE" />
    <result column="postbal" property="postbal" jdbcType="DOUBLE" />
    <result column="cur" property="cur" jdbcType="VARCHAR" />
    <result column="gameprovider" property="gameprovider" jdbcType="VARCHAR" />
    <result column="gamename" property="gamename" jdbcType="VARCHAR" />
    <result column="gameid" property="gameid" jdbcType="VARCHAR" />
    <result column="platformtype" property="platformtype" jdbcType="VARCHAR" />
    <result column="ipaddress" property="ipaddress" jdbcType="VARCHAR" />
    <result column="bettype" property="bettype" jdbcType="VARCHAR" />
    <result column="playtype" property="playtype" jdbcType="VARCHAR" />
    <result column="betmoney" property="betmoney" jdbcType="DOUBLE" />
    <result column="netmoney" property="netmoney" jdbcType="DOUBLE" />
    <result column="validmoney" property="validmoney" jdbcType="DOUBLE" />
    <result column="bettime" property="bettime" jdbcType="TIMESTAMP" />
    <result column="Platformflag" property="platformflag" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="enterprisecode" property="enterprisecode" jdbcType="CHAR" />
    <result column="brandcode" property="brandcode" jdbcType="VARCHAR" />
    <result column="employeecode" property="employeecode" jdbcType="CHAR" />
    <result column="parentemployeecode" property="parentemployeecode" jdbcType="CHAR" />
    <result column="loginaccount" property="loginaccount" jdbcType="VARCHAR" />
    <result column="gamebigtype" property="gamebigtype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
  <!-- 范围查询 -->
  <sql id="rangecondition">
  	<where>
  	  <if test="teamCodes !=null and teamCodes.length > 0">
  	  	and (parentemployeecode in 
  	  	<foreach collection="teamCodes" item="teamcode" separator="," open="(" close=")">
			#{teamcode}
		</foreach>
		<if test="teamLeaderCode != null" > or employeecode = #{teamLeaderCode} </if>)
	  </if>
	  <if test="enterprisecode != null" >and enterprisecode = #{enterprisecode} </if>
	  <if test="brandcode != null" >and brandcode = #{brandcode} </if>
	  <if test="employeecode != null" >and employeecode = #{employeecode} </if>
	  <if test="parentemployeecode != null" >and parentemployeecode = #{parentemployeecode} </if>
	  <if test="loginaccount != null" >and loginaccount = #{loginaccount} </if>
  	  <if test="createtime !=null">and createtime = #{createtime}</if>
	  <if test="startDate !=null">and bettime <![CDATA[ >= ]]>#{startDate}</if>
	  <if test="endDate !=null"> and bettime <![CDATA[ <= ]]> #{endDate}</if>
	  <if test="gameprovider != null" >and gameprovider = #{gameprovider} </if>
	  
	  <if test="platformtype != null" >and platformtype = #{platformtype} </if>
	  <if test="gameid != null" >and gameid = #{gameid} </if>
	  <if test="gamename != null" >and gamename = #{gamename} </if>
	  <if test="txid != null" >and txid = #{txid} </if>
  	  <if test="roundid != null" >and roundid = #{roundid} </if>
  	  <if test="roundstatus != null" >and roundstatus = #{roundstatus} </if>
  	  <if test="userid != null" >and userid = #{userid} </if>
  	  <if test="ugsbetid != null" >and ugsbetid = #{ugsbetid} </if>
  	  <if test="betid != null" >and betid = #{betid} </if>
	  
	  <!-- 前端查询使用 -->
      <if test="StartDate != null" >and bettime <![CDATA[ >= ]]> #{StartDate} </if>
      <if test="EndDate != null" >and bettime <![CDATA[ <= ]]> #{EndDate} </if>
      
      
  	</where>
  </sql>
  
  <!-- =================================================新增语句================================================================ -->
<!-- =================================================精确查询================================================================ -->
<!-- =================================================模糊查询================================================================ -->
<select id="selectAll" resultMap="BaseResultMap" parameterType="Map" >
    select <include refid="Base_Column_List" /> from betting_tgp
    <include refid="rangecondition" /> 
    <include refid="ABasic.orderby" /> 
    <include refid="ABasic.page" />
  </select>
  <select id="selectAllCount" resultType="Long" parameterType="Map" >
    select count(1) from betting_tgp <include refid="rangecondition" />
  </select>
  
<!-- 数据统计之金额 -->  
    <select id="takeRecordCountMoney" parameterType="Map" resultType="Map">
    select count(1) count, 
    sum(betmoney) betmoney,
    sum(netmoney) netmoney,
    sum(validmoney) validmoney,
    sum(postbal) postbal
    
    from betting_tgp
    <include refid="rangecondition"></include>
  </select>
  
  
  
  <sql id="Base_Column_List" >
    ugsbetid, txid, betid, beton, betclosedon, betupdatedon, timestamp, roundid, roundstatus, 
    userid, username, riskamt, winamt, winloss, beforebal, postbal, cur, gameprovider, 
    gamename, gameid, platformtype, ipaddress, bettype, playtype, betmoney, netmoney, validmoney,
    bettime, Platformflag, createtime, enterprisecode, brandcode, employeecode, parentemployeecode, 
    loginaccount, gamebigtype, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from betting_tgp
    where ugsbetid = #{ugsbetid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from betting_tgp
    where ugsbetid = #{ugsbetid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maven.entity.BettingTgp" >
    insert into betting_tgp (ugsbetid, txid, betid, 
      beton, betclosedon, betupdatedon, 
      timestamp, roundid, roundstatus, 
      userid, username, riskamt, 
      winamt, winloss, beforebal, 
      postbal, cur, gameprovider, 
      gamename, gameid, platformtype, 
      ipaddress, bettype, playtype, 
      betmoney, netmoney, bettime, 
      Platformflag, createtime, enterprisecode, 
      brandcode, employeecode, parentemployeecode, 
      loginaccount, gamebigtype, status
      )
    values (#{ugsbetid,jdbcType=VARCHAR}, #{txid,jdbcType=VARCHAR}, #{betid,jdbcType=VARCHAR}, 
      #{beton,jdbcType=TIMESTAMP}, #{betclosedon,jdbcType=TIMESTAMP}, #{betupdatedon,jdbcType=TIMESTAMP}, 
      #{timestamp,jdbcType=TIMESTAMP}, #{roundid,jdbcType=VARCHAR}, #{roundstatus,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{riskamt,jdbcType=DOUBLE}, 
      #{winamt,jdbcType=DOUBLE}, #{winloss,jdbcType=DOUBLE}, #{beforebal,jdbcType=DOUBLE}, 
      #{postbal,jdbcType=DOUBLE}, #{cur,jdbcType=VARCHAR}, #{gameprovider,jdbcType=VARCHAR}, 
      #{gamename,jdbcType=VARCHAR}, #{gameid,jdbcType=VARCHAR}, #{platformtype,jdbcType=VARCHAR}, 
      #{ipaddress,jdbcType=VARCHAR}, #{bettype,jdbcType=VARCHAR}, #{playtype,jdbcType=VARCHAR}, 
      #{betmoney,jdbcType=DOUBLE}, #{netmoney,jdbcType=DOUBLE}, #{bettime,jdbcType=TIMESTAMP}, 
      #{platformflag,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{enterprisecode,jdbcType=CHAR}, 
      #{brandcode,jdbcType=VARCHAR}, #{employeecode,jdbcType=CHAR}, #{parentemployeecode,jdbcType=CHAR}, 
      #{loginaccount,jdbcType=VARCHAR}, #{gamebigtype,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maven.entity.BettingTgp" >
    insert into betting_tgp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ugsbetid != null" >
        ugsbetid,
      </if>
      <if test="txid != null" >
        txid,
      </if>
      <if test="betid != null" >
        betid,
      </if>
      <if test="beton != null" >
        beton,
      </if>
      <if test="betclosedon != null" >
        betclosedon,
      </if>
      <if test="betupdatedon != null" >
        betupdatedon,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="roundid != null" >
        roundid,
      </if>
      <if test="roundstatus != null" >
        roundstatus,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="riskamt != null" >
        riskamt,
      </if>
      <if test="winamt != null" >
        winamt,
      </if>
      <if test="winloss != null" >
        winloss,
      </if>
      <if test="beforebal != null" >
        beforebal,
      </if>
      <if test="postbal != null" >
        postbal,
      </if>
      <if test="cur != null" >
        cur,
      </if>
      <if test="gameprovider != null" >
        gameprovider,
      </if>
      <if test="gamename != null" >
        gamename,
      </if>
      <if test="gameid != null" >
        gameid,
      </if>
      <if test="platformtype != null" >
        platformtype,
      </if>
      <if test="ipaddress != null" >
        ipaddress,
      </if>
      <if test="bettype != null" >
        bettype,
      </if>
      <if test="playtype != null" >
        playtype,
      </if>
      <if test="betmoney != null" >
        betmoney,
      </if>
      <if test="netmoney != null" >
        netmoney,
      </if>
      <if test="bettime != null" >
        bettime,
      </if>
      <if test="platformflag != null" >
        Platformflag,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="enterprisecode != null" >
        enterprisecode,
      </if>
      <if test="brandcode != null" >
        brandcode,
      </if>
      <if test="employeecode != null" >
        employeecode,
      </if>
      <if test="parentemployeecode != null" >
        parentemployeecode,
      </if>
      <if test="loginaccount != null" >
        loginaccount,
      </if>
      <if test="gamebigtype != null" >
        gamebigtype,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ugsbetid != null" >
        #{ugsbetid,jdbcType=VARCHAR},
      </if>
      <if test="txid != null" >
        #{txid,jdbcType=VARCHAR},
      </if>
      <if test="betid != null" >
        #{betid,jdbcType=VARCHAR},
      </if>
      <if test="beton != null" >
        #{beton,jdbcType=TIMESTAMP},
      </if>
      <if test="betclosedon != null" >
        #{betclosedon,jdbcType=TIMESTAMP},
      </if>
      <if test="betupdatedon != null" >
        #{betupdatedon,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="roundid != null" >
        #{roundid,jdbcType=VARCHAR},
      </if>
      <if test="roundstatus != null" >
        #{roundstatus,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="riskamt != null" >
        #{riskamt,jdbcType=DOUBLE},
      </if>
      <if test="winamt != null" >
        #{winamt,jdbcType=DOUBLE},
      </if>
      <if test="winloss != null" >
        #{winloss,jdbcType=DOUBLE},
      </if>
      <if test="beforebal != null" >
        #{beforebal,jdbcType=DOUBLE},
      </if>
      <if test="postbal != null" >
        #{postbal,jdbcType=DOUBLE},
      </if>
      <if test="cur != null" >
        #{cur,jdbcType=VARCHAR},
      </if>
      <if test="gameprovider != null" >
        #{gameprovider,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null" >
        #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="gameid != null" >
        #{gameid,jdbcType=VARCHAR},
      </if>
      <if test="platformtype != null" >
        #{platformtype,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null" >
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="bettype != null" >
        #{bettype,jdbcType=VARCHAR},
      </if>
      <if test="playtype != null" >
        #{playtype,jdbcType=VARCHAR},
      </if>
      <if test="betmoney != null" >
        #{betmoney,jdbcType=DOUBLE},
      </if>
      <if test="netmoney != null" >
        #{netmoney,jdbcType=DOUBLE},
      </if>
      <if test="bettime != null" >
        #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformflag != null" >
        #{platformflag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterprisecode != null" >
        #{enterprisecode,jdbcType=CHAR},
      </if>
      <if test="brandcode != null" >
        #{brandcode,jdbcType=VARCHAR},
      </if>
      <if test="employeecode != null" >
        #{employeecode,jdbcType=CHAR},
      </if>
      <if test="parentemployeecode != null" >
        #{parentemployeecode,jdbcType=CHAR},
      </if>
      <if test="loginaccount != null" >
        #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="gamebigtype != null" >
        #{gamebigtype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maven.entity.BettingTgp" >
    update betting_tgp
    <set >
      <if test="txid != null" >
        txid = #{txid,jdbcType=VARCHAR},
      </if>
      <if test="betid != null" >
        betid = #{betid,jdbcType=VARCHAR},
      </if>
      <if test="beton != null" >
        beton = #{beton,jdbcType=TIMESTAMP},
      </if>
      <if test="betclosedon != null" >
        betclosedon = #{betclosedon,jdbcType=TIMESTAMP},
      </if>
      <if test="betupdatedon != null" >
        betupdatedon = #{betupdatedon,jdbcType=TIMESTAMP},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="roundid != null" >
        roundid = #{roundid,jdbcType=VARCHAR},
      </if>
      <if test="roundstatus != null" >
        roundstatus = #{roundstatus,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="riskamt != null" >
        riskamt = #{riskamt,jdbcType=DOUBLE},
      </if>
      <if test="winamt != null" >
        winamt = #{winamt,jdbcType=DOUBLE},
      </if>
      <if test="winloss != null" >
        winloss = #{winloss,jdbcType=DOUBLE},
      </if>
      <if test="beforebal != null" >
        beforebal = #{beforebal,jdbcType=DOUBLE},
      </if>
      <if test="postbal != null" >
        postbal = #{postbal,jdbcType=DOUBLE},
      </if>
      <if test="cur != null" >
        cur = #{cur,jdbcType=VARCHAR},
      </if>
      <if test="gameprovider != null" >
        gameprovider = #{gameprovider,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null" >
        gamename = #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="gameid != null" >
        gameid = #{gameid,jdbcType=VARCHAR},
      </if>
      <if test="platformtype != null" >
        platformtype = #{platformtype,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null" >
        ipaddress = #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="bettype != null" >
        bettype = #{bettype,jdbcType=VARCHAR},
      </if>
      <if test="playtype != null" >
        playtype = #{playtype,jdbcType=VARCHAR},
      </if>
      <if test="betmoney != null" >
        betmoney = #{betmoney,jdbcType=DOUBLE},
      </if>
      <if test="netmoney != null" >
        netmoney = #{netmoney,jdbcType=DOUBLE},
      </if>
      <if test="bettime != null" >
        bettime = #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformflag != null" >
        Platformflag = #{platformflag,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterprisecode != null" >
        enterprisecode = #{enterprisecode,jdbcType=CHAR},
      </if>
      <if test="brandcode != null" >
        brandcode = #{brandcode,jdbcType=VARCHAR},
      </if>
      <if test="employeecode != null" >
        employeecode = #{employeecode,jdbcType=CHAR},
      </if>
      <if test="parentemployeecode != null" >
        parentemployeecode = #{parentemployeecode,jdbcType=CHAR},
      </if>
      <if test="loginaccount != null" >
        loginaccount = #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="gamebigtype != null" >
        gamebigtype = #{gamebigtype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ugsbetid = #{ugsbetid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maven.entity.BettingTgp" >
    update betting_tgp
    set txid = #{txid,jdbcType=VARCHAR},
      betid = #{betid,jdbcType=VARCHAR},
      beton = #{beton,jdbcType=TIMESTAMP},
      betclosedon = #{betclosedon,jdbcType=TIMESTAMP},
      betupdatedon = #{betupdatedon,jdbcType=TIMESTAMP},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      roundid = #{roundid,jdbcType=VARCHAR},
      roundstatus = #{roundstatus,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      riskamt = #{riskamt,jdbcType=DOUBLE},
      winamt = #{winamt,jdbcType=DOUBLE},
      winloss = #{winloss,jdbcType=DOUBLE},
      beforebal = #{beforebal,jdbcType=DOUBLE},
      postbal = #{postbal,jdbcType=DOUBLE},
      cur = #{cur,jdbcType=VARCHAR},
      gameprovider = #{gameprovider,jdbcType=VARCHAR},
      gamename = #{gamename,jdbcType=VARCHAR},
      gameid = #{gameid,jdbcType=VARCHAR},
      platformtype = #{platformtype,jdbcType=VARCHAR},
      ipaddress = #{ipaddress,jdbcType=VARCHAR},
      bettype = #{bettype,jdbcType=VARCHAR},
      playtype = #{playtype,jdbcType=VARCHAR},
      betmoney = #{betmoney,jdbcType=DOUBLE},
      netmoney = #{netmoney,jdbcType=DOUBLE},
      bettime = #{bettime,jdbcType=TIMESTAMP},
      Platformflag = #{platformflag,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      enterprisecode = #{enterprisecode,jdbcType=CHAR},
      brandcode = #{brandcode,jdbcType=VARCHAR},
      employeecode = #{employeecode,jdbcType=CHAR},
      parentemployeecode = #{parentemployeecode,jdbcType=CHAR},
      loginaccount = #{loginaccount,jdbcType=VARCHAR},
      gamebigtype = #{gamebigtype,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where ugsbetid = #{ugsbetid,jdbcType=VARCHAR}
  </update>
</mapper>