<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DataHandleMaintenance" >
  <resultMap id="BaseResultMap" type="com.maven.entity.DataHandleMaintenance" >
    <id column="gametype" property="gametype" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    gametype, flag, lasttime, remark
  </sql>
  
  <sql id="exactCondition">
  	<where> 
  		1=1
		<if test="flag != null" > and flag = #{flag}</if>
	</where>
</sql>
		
  <select id="selectBetRecord" resultMap="BaseResultMap" parameterType="Map">
  	select <include refid="Base_Column_List" /> from data_handle_maintenance
  	<include refid="exactCondition" /> 
  	<include refid="ABasic.orderby"></include> 
  	<include refid="ABasic.page"></include>
  </select>
  <select id="selectBetRecordCount" resultType="java.lang.Integer" parameterType="Map">
  	select count(1) from data_handle_maintenance
  	<include refid="exactCondition" />
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from data_handle_maintenance
    where gametype = #{gametype,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from data_handle_maintenance
    where gametype = #{gametype,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maven.entity.DataHandleMaintenance" >
    insert into data_handle_maintenance (gametype, flag, lasttime, 
      remark)
    values (#{gametype,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{lasttime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maven.entity.DataHandleMaintenance" >
    insert into data_handle_maintenance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gametype != null" >
        gametype,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gametype != null" >
        #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maven.entity.DataHandleMaintenance" >
    update data_handle_maintenance
    <set >
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where gametype = #{gametype,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maven.entity.DataHandleMaintenance" >
    update data_handle_maintenance
    set flag = #{flag,jdbcType=INTEGER},
      lasttime = #{lasttime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where gametype = #{gametype,jdbcType=VARCHAR}
  </update>
</mapper>