<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EmployeeApiAccoutPasswordJob" >
  <resultMap id="resultMap" type="com.maven.entity.EmployeeApiAccoutPasswordJob" >
    <id column="lsh" property="lsh" jdbcType="INTEGER" />
    <result column="employeecode" property="employeecode" jdbcType="CHAR" />
    <result column="enterprisecode" property="enterprisecode" jdbcType="CHAR" />
    <result column="loginaccount" property="loginaccount" jdbcType="VARCHAR" />
    <result column="gametype" property="gametype" jdbcType="CHAR" />
    <result column="gameaccount" property="gameaccount" jdbcType="VARCHAR" />
    <result column="gamepassword" property="gamepassword" jdbcType="CHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updatestatus" property="updatestatus" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="exactCondition">
  	<where> 
  	  <if test="loginaccount !=null" >and loginaccount = #{loginaccount}</if>
      <if test="employeecode != null" >and employeecode = #{employeecode} </if>
  	  <if test="enterprisecode != null" >and enterprisecode = #{enterprisecode} </if>
  	  <if test="gametype != null" >and gametype = #{gametype} </if>
  	  <if test="gameaccount != null" >and gameaccount = #{gameaccount} </if>
  	  <if test="updatestatus != null" >and updatestatus = #{updatestatus} </if>
  	</where>
  </sql>
  
   <select id="select" resultMap="resultMap" parameterType="Map">
  	select 
  	<include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from employee_api_accout_password_job
  	<include refid="exactCondition"/>
  	
  	order by createtime asc
  </select>
  
  <resultMap id="ResultMapWithBLOBs" type="com.maven.entity.EmployeeApiAccoutPasswordJob" extends="resultMap" >
    <result column="updatecomment" property="updatecomment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lsh, employeecode, enterprisecode, loginaccount, gametype, gameaccount, gamepassword, createtime, 
    updatetime, updatestatus
  </sql>
  <sql id="Blob_Column_List" >
    updatecomment
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from employee_api_accout_password_job
    where lsh = #{lsh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee_api_accout_password_job
    where lsh = #{lsh,jdbcType=INTEGER}
  </delete>
  <insert id="add" parameterType="com.maven.entity.EmployeeApiAccoutPasswordJob" >
    insert into employee_api_accout_password_job (employeecode, enterprisecode, loginaccount, 
      gametype, gameaccount, gamepassword, 
      createtime, updatetime, updatestatus, 
      updatecomment)
    values ( #{employeecode,jdbcType=CHAR},  #{enterprisecode,jdbcType=CHAR}, #{loginaccount,jdbcType=VARCHAR}, 
      #{gametype,jdbcType=CHAR}, #{gameaccount,jdbcType=VARCHAR}, #{gamepassword,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{updatestatus,jdbcType=INTEGER}, 
      #{updatecomment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maven.entity.EmployeeApiAccoutPasswordJob" >
    insert into employee_api_accout_password_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        lsh,
      </if>
      <if test="employeecode != null" >
        employeecode,
      </if>
      <if test="enterprisecode != null" >
        enterprisecode,
      </if>
      <if test="loginaccount != null" >
        loginaccount,
      </if>
      <if test="gametype != null" >
        gametype,
      </if>
      <if test="gameaccount != null" >
        gameaccount,
      </if>
      <if test="gamepassword != null" >
        gamepassword,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updatestatus != null" >
        updatestatus,
      </if>
      <if test="updatecomment != null" >
        updatecomment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        #{lsh,jdbcType=INTEGER},
      </if>
      <if test="employeecode != null" >
        #{employeecode,jdbcType=CHAR},
      </if>
      <if test="enterprisecode != null" >
        #{enterprisecode,jdbcType=CHAR},
      </if>
      <if test="loginaccount != null" >
        #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null" >
        #{gametype,jdbcType=CHAR},
      </if>
      <if test="gameaccount != null" >
        #{gameaccount,jdbcType=VARCHAR},
      </if>
      <if test="gamepassword != null" >
        #{gamepassword,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestatus != null" >
        #{updatestatus,jdbcType=INTEGER},
      </if>
      <if test="updatecomment != null" >
        #{updatecomment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.maven.entity.EmployeeApiAccoutPasswordJob" >
    update employee_api_accout_password_job
    <set >
      <if test="employeecode != null" >
        employeecode = #{employeecode,jdbcType=CHAR},
      </if>
      <if test="enterprisecode != null" >
        enterprisecode = #{enterprisecode,jdbcType=CHAR},
      </if>
      <if test="loginaccount != null" >
        loginaccount = #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="gametype != null" >
        gametype = #{gametype,jdbcType=CHAR},
      </if>
      <if test="gameaccount != null" >
        gameaccount = #{gameaccount,jdbcType=VARCHAR},
      </if>
      <if test="gamepassword != null" >
        gamepassword = #{gamepassword,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatestatus != null" >
        updatestatus = #{updatestatus,jdbcType=INTEGER},
      </if>
      <if test="updatecomment != null" >
        updatecomment = #{updatecomment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where lsh = #{lsh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.maven.entity.EmployeeApiAccoutPasswordJob" >
    update employee_api_accout_password_job
    set employeecode = #{employeecode,jdbcType=CHAR},
      enterprisecode = #{enterprisecode,jdbcType=CHAR},
      loginaccount = #{loginaccount,jdbcType=VARCHAR},
      gametype = #{gametype,jdbcType=CHAR},
      gameaccount = #{gameaccount,jdbcType=VARCHAR},
      gamepassword = #{gamepassword,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updatestatus = #{updatestatus,jdbcType=INTEGER},
      updatecomment = #{updatecomment,jdbcType=LONGVARCHAR}
    where lsh = #{lsh,jdbcType=INTEGER}
  </update>
  <update id="updateAll" parameterType="com.maven.entity.EmployeeApiAccoutPasswordJob" >
    update employee_api_accout_password_job
    set employeecode = #{employeecode,jdbcType=CHAR},
      enterprisecode = #{enterprisecode,jdbcType=CHAR},
      loginaccount = #{loginaccount,jdbcType=VARCHAR},
      gametype = #{gametype,jdbcType=CHAR},
      gameaccount = #{gameaccount,jdbcType=VARCHAR},
      gamepassword = #{gamepassword,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updatestatus = #{updatestatus,jdbcType=INTEGER}
    where lsh = #{lsh,jdbcType=INTEGER}
  </update>
</mapper>