<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EnterpriseStatistics" >
<!-- =================================================新增语句================================================================ -->
<!-- =================================================精确查询================================================================ -->
 <!-- 统计企业用户注册数与存款 -->
 <select id="enterpriseRegisterNumAndSaveSum" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.util.HashMap">
     {call usp_enterprise_user_count(#{enterprisecode})}    
  </select>
<!-- =================================================模糊查询================================================================ -->
<!-- =================================================删除语句================================================================ -->
<!-- =================================================修改语句================================================================ -->

</mapper>