<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EnterpriseEmployeeLevelBonus" >
  <resultMap id="BaseResultMap" type="com.maven.entity.EnterpriseEmployeeLevelBonus" >
    <id column="employeelevelcode" property="employeelevelcode" jdbcType="CHAR" />
    <result column="gametype" property="gametype" jdbcType="VARCHAR" />
    <result column="categorytype" property="categorytype" jdbcType="VARCHAR" />
    <result column="bonus" property="bonus" jdbcType="DECIMAL" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    employeelevelcode, gametype, categorytype, bonus
  </sql>
  
  <sql id="condition">
  	<where>
  		<if test="gametype !=null">AND gametype = #{gametype}</if>
  		<if test="employeelevelcode !=null">AND employeelevelcode = #{employeelevelcode}</if>
  		<if test="categorytype !=null">AND categorytype = #{categorytype}</if>
  	</where>
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="Map">
    	SELECT <include refid="Base_Column_List" /> FROM enterprise_employee_level_bonus
    	<include refid="condition" />
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from enterprise_employee_level_bonus
    where employeelevelcode = #{employeelevelcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from enterprise_employee_level_bonus
    where employeelevelcode = #{employeelevelcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.maven.entity.EnterpriseEmployeeLevelBonus" >
    replace into enterprise_employee_level_bonus (employeelevelcode, gametype, categorytype, 
      bonus)
    values (#{employeelevelcode,jdbcType=CHAR}, #{gametype,jdbcType=VARCHAR}, #{categorytype,jdbcType=VARCHAR}, 
      #{bonus,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.maven.entity.EnterpriseEmployeeLevelBonus" >
    replace into enterprise_employee_level_bonus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeelevelcode != null" >
        employeelevelcode,
      </if>
      <if test="gametype != null" >
        gametype,
      </if>
      <if test="categorytype != null" >
        categorytype,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeelevelcode != null" >
        #{employeelevelcode,jdbcType=CHAR},
      </if>
      <if test="gametype != null" >
        #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null" >
        #{categorytype,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maven.entity.EnterpriseEmployeeLevelBonus" >
    update enterprise_employee_level_bonus
    <set >
      <if test="gametype != null" >
        gametype = #{gametype,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null" >
        categorytype = #{categorytype,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null" >
        bonus = #{bonus,jdbcType=DECIMAL},
      </if>
    </set>
    where employeelevelcode = #{employeelevelcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maven.entity.EnterpriseEmployeeLevelBonus" >
    update enterprise_employee_level_bonus
    set gametype = #{gametype,jdbcType=VARCHAR},
      categorytype = #{categorytype,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=DECIMAL}
    where employeelevelcode = #{employeelevelcode,jdbcType=CHAR}
  </update>
</mapper>