.radio-img-bank {
	float: left;
	height: 28px;
}

.radio-img-B001 {
	background: url('../../img/sh_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B002 {
	background: url('../../img/bj_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B003 {
	background: url('../../img/combo-banks.png') 0px -216px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B004 {
	background: url('../../img/combo-banks.png') 0px -144px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B005 {
	background-image: url('../../img/combo-banks.png');
	width: 126px;
	height: 36px;
	float: left;
}

.radio-img-B006 {
	background: url('../../img/combo-banks.png') 0px -36px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B007 {
	background: url('../../img/xy_logo.jpg');
	background-size: 100% 100%;
	width: 88px;
	height: 30px;
	float: left;
	display: inline;
}

.radio-img-B008 {
	background: url('../../img/combo-banks.png') 0px -288px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B009 {
	background: url('../../img/combo-banks.png') 0px -468px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B010 {
	background: url('../../img/combo-banks.png') 0px -360px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B011 {
	background: url('../../img/combo-banks.png') 0px -432px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B012 {
	background: url('../../img/combo-banks.png') 0px -252px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B013 {
	background: url('../../img/combo-banks.png') 0px -324px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B015 {
	background: url('../../img/combo-banks.png') 0px -72px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B016 {
	background: url('../../img/combo-banks.png') 0px -180px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B018 {
	background: url('../../img/combo-banks.png') 0px -396px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B019 {
	background: url('../../img/weixin.jpg');
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B020 {
	background: url('../../img/zhifubao.jpg');
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B021 {
	background: url('../../img/combo-banks.png') 0px -108px;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B022 {
	background: url('../../img/bjns_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B023 {
	background: url('../../img/shns_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B024 {
	background: url('../../img/nj_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B025 {
	
}

.radio-img-B026 {
	background: url('../../img/nb_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B027 {
	
}

.radio-img-B028 {
	
}

.radio-img-B029 {
	
}

.radio-img-B030 {
	background: url('../../img/bh_logo.jpg');
	background-size: 100% 100%;
	width: 126px;
	height: 36px;
	float: left;
	display: inline;
}

.radio-img-B031 {
	
}

.radio-img-B032{
	margin-top:3px;
	background: url('../../img/casher.jpg');
	background-size:100% 100%;
	width: 90px;
	height:25px;
	float:left;
	display: inline;
}

.radio-img-B033{
	margin-top:3px;
	background: url('../../img/casher.jpg');
	background-size:100% 100%;
	width: 90px;
	height:25px;
	float:left;
	display: inline;
}

.radio-img-B034 {
	margin-top: 3px;
	background: url('../../img/qqpay.png');
	background-size: 100% 100%;
	width: 90px;
	height: 25px;
	float: left;
	display: inline;
}

.span2 {
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.btn-large {
	margin-left: 3.7% !important;
	margin-top: 15px !important;
}

.tab_list {
	width: 100%;
	height: 280px;
	margin: 0;
	overflow: hidden;
}

.tab_list>li {
	width: 100%;
	height: 280px;
}

ol {
	list-style: none;
}

.row-fluid {
	padding-left: 20px;
	margin-bottom: 10px;
	clear: both;
}