@CHARSET "UTF-8";
.searchbody{
	width: 1100px;
}
.text-left{
	text-align: left;
}
.lable-box{
	width:180px;display: block;height:20px;
}
.toggle-display{
	display: none;
}
/* .tip2{
    max-width: 600px;
    word-wrap: break-word;
    border:1px solid #7BC3FF;
    box-shadow: 1px 1px 10px #7BC3FF;
  } */